.mode-basic {
    .level-average {
        display: none;
    }

    .level-advanced {
        display: none;
    }

    .widget.connected-delegate {
        > .body {
            > .header {
                display: none;
            }
            margin-left: 0px;
        }
    }

    .enabled-no {
        pointer-events: none;
    }
}

.children {
    > .widget {
        &:not(.ui-proxy) {
            margin-left: 20px;
        }
    }
}

.widget {
    &:not(.connected-delegate) {
        border: 1px solid #ccc;
    }

    &.ui-proxy {
        > .body {
            .header {
                display: none;
            }
        }
        border: none;
    }

    &.function {
        > .header, > .body, > .body * {
            display: inline;
        }
        > .body {
            margin-left: 0px;
            .function-type {
                div {
                    background-color: #d3ead5;
                }
                &:before {
                    content: " :: ";
                }
                .argument {
                    &:after {
                        content: " → ";
                        color: #c99376;
                    }
                }
            }

            .function-callbox {
                &.collapsed {
                    display: none;
                }
            }
        }
    }

    &.slider {
        > .body {
            > .value {
                display: inline-block;
                width: 60px;
            }

            .outer {
                display: inline-block;
                position: relative;
                width: 200px;
                height: 10px;
                background-color: #cccccc;
            }

            .stoprec {
                position: absolute;
                height: 10px;
            }

            .stoprec-nostop {
                .inner {
                    background-color: #e89f40;
                }
            }

            .inner {
                display: inline-block;
                position: absolute;
                height: 10px;
            }
        }
    }

    &.button {
        > .body {
            margin-left: 0px;
        }
    }
}

.slider {
    > .body {
        .outer {
            border: 1px solid black;
        }
        .stoprec-s0 {
            .inner {
                background-color: green;
            }
            border-right: 1px solid black;
        }
        .stoprec-s1 {
            .inner {
                background-color: red;
            }
        }
    }
}



.children {
    display: flex;
    flex-direction: column;
}

.enabled-no {
    opacity: 0.2;
}
