.child {
}

.mode-basic {
    .level-average {
        display: none;
    }

    .level-advanced {
        display: none;
    }

    .widget.connected-delegate {
        > .header {
            display: none;
        }
        > .body {
            margin-left: 0px;
        }
    }

    .children {
        display: none;
    }

    .enabled-no {
        pointer-events: none;
    }
}

.widget {
    &:not(.ui-proxy) {
        > .body, > .children {
            margin-left: 20px;
        }
    }

    &.ui-proxy {
        > .header {
            display: none;
        }
    }

    &.function {
        > .header, > .body, > .body * {
            display: inline;
        }
        > .body {
            margin-left: 0px;
            .function-type {
                div {
                    background-color: #d3ead5;
                }
                &:before {
                    content: " :: ";
                }
                .argument {
                    &:after {
                        content: " → ";
                        color: #c99376;
                    }
                }
            }

            .function-callbox {
                &.collapsed {
                    display: none;
                }
            }
        }
    }

    &.slider {
        > .body {
            .value {
                display: inline-block;
                width: 60px;
            }

            .outer {
                display: inline-block;
                position: relative;
                width: 200px;
                height: 10px;
                background-color: #cccccc;
            }

            .inner {
                display: inline-block;
                position: absolute;
                height: 10px;
                background-color: #ff0000;
            }
        }
    }

    &.button {
        > .body {
            margin-left: 0px;
        }
    }
}

.enabled-no {
    opacity: 0.2;
}
