$slick-green: #72ea3b;
$slick-bg: #4f4e4c;
$slick-bar-bg: #211717;
$slick-bar-grid: $slick-bg;
$slick-border: black;
$slick-wine: #52221e;

body {
    background-color: $slick-bg;
    color: white;
}

.mode-basic {
    .level-average {
        display: none;
    }

    .level-advanced {
        display: none;
    }

    .enabled-no {
        pointer-events: none;
    }
}

.widget {
    border: 1px solid green;

    &.ui-proxy {
        > .body {
            .header {
                display: none;
            }
        }
        border: none;
    }

    &.function {
        > .header, > .body, > .body * {
            display: inline;
        }
        > .body {
            margin-left: 0px;
            .function-type {
                div {
                    background-color: #d3ead5;
                }
                &:before {
                    content: " :: ";
                }
                .argument {
                    &:after {
                        content: " → ";
                        color: #c99376;
                    }
                }
            }

            .function-callbox {
                &.collapsed {
                    display: none;
                }
            }
        }
    }

    &.slider {
        > .body {
            margin-left: 10px;
            margin-right: 10px;

            > .value {
                display: inline-block;
            }

            input {
                width: 100%;
            }

            .outer {
                margin-top: 15px;
                position: relative;
                height: 10px;
                background-color: $slick-bar-bg;
            }

            .stoprec {
                position: absolute;
                height: 10px;

                .stop-value-right {
                    display: none;
                }

                > .stop-value-left {
                    .units {
                        display: none;
                    }
                    float: left;
                    position: relative;
                    > .value {
                        margin-left: -50%;
                        margin-top: -1.5em;
                        font-size: 0.8em;
                    }
                }
            }

            .stoprec-nostop {
                .inner {
                    background-color: $slick-green;
                }
            }

            .grid-rect {
                position: absolute;
                height: 10px;
                border-right: 1px solid $slick-bar-grid;
            }

            .inner {
                display: inline-block;
                position: absolute;
                height: 10px;
            }
            .peak {
                display: inline-block;
                position: absolute;
                height: 10px;
            }
        }
    }

    &.button {
        > .body {
            margin-left: 0px;
        }
    }

    &.switch {
        > .body {
            .checkbox {
                display: block;
                width: 20px;
                height: 20px;

                &.waiting {
                    background-color: yellow;
                }
                &:not(.waiting) {
                    &.on {
                        background-color: green;
                    }
                    &.off {
                        background-color: red;
                    }
                }
            }


        }
    }
}

.slider {
    > .body {
        .outer {
            border: 1px solid black;
        }

        .stoprec-nostop {
            .inner {
                background-color: $slick-green;
            }
            &.peak-inside {
                .peak {
                    border-right: 2px solid $slick-green;
                }
            }
            border-right: 1px solid black;
        }
        .stoprec-weak-stop {
            .inner {
                background-color: $slick-green;
            }
            &.peak-inside {
                .peak {
                    border-right: 2px solid $slick-green;
                }
            }
            .stop-value-left {
                display: none;
            }
            .stop-info {
                display: block;
                width: 100%;
                height: 100%;
                padding-bottom: 8px;
                border-left: 2px solid white;
                position: absolute;
                top: -4px;
                z-index: -5;
                margin-left: -1px;
                margin-right: 1px;
            }
        }
        .stoprec-crit-stop {
            .inner {
                background-color: $slick-green;
            }
            &.peak-inside {
                .peak {
                    border-right: 2px solid $slick-green;
                }
            }
            .stop-info {
                display: block;
                width: 100%;
                height: 100%;
                padding-bottom: 8px;
                border-left: 2px solid white;
                position: absolute;
                top: -4px;
                z-index: -5;
                margin-left: -1px;
                margin-right: 1px;
            }
            background-color: $slick-wine;
        }
        .stoprec-normal-stop {
            .inner {
                background-color: $slick-green;
            }
            &.peak-inside {
                .peak {
                    border-right: 2px solid $slick-green;
                }
            }
            .stop-info {
                display: block;
                width: 100%;
                height: 100%;
                padding-bottom: 8px;
                border-left: 2px solid white;
                position: absolute;
                top: -4px;
                z-index: -5;
                margin-left: -1px;
                margin-right: 1px;
            }
        }
        .stoprec-high-stop {
            .inner {
                background-color: red;
            }
            &.peak-inside {
                .peak {
                    border-right: 2px solid red;
                }
            }
            .stop-info {
                display: block;
                width: 100%;
                height: 100%;
                border-bottom: 2px solid red;
                padding-bottom: 8px;
                border-left: 2px solid red;
                position: absolute;
                margin-left: -1px;
                margin-right: 1px;
                top: -4px;
                z-index: -5;
            }
        }
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    .tab {
        margin: 3px;
        .children {
            display: none;
        }

        &.active {
            background-color: #ccc;
        }

        &.inactive {
            background-color: #111;
        }
    }
}

.children {
    display: flex;
    flex-direction: column;

    > .widget {
        margin: 5px;
    }
}

.enabled-no {
    opacity: 0.2;
}
